<hr>
<div id="footer-container">
  {% if config.extra.footer_content_license %}
    <div>Except where otherwise noted, content on this site is licensed under a 
    {% if config.extra.footer_content_license_link %}
    <a target="_blank" rel="noopener noreferrer" href="{{config.extra.footer_content_license_link}}">{{config.extra.footer_content_license}}</a>
    {% else %}
    {{config.extra.footer_content_license}}
    {% endif %}
    license.</div>
  {% endif %}
  <div class="footLeft">
    <p> 2024 © Samyakt Patil | <a target="_blank" rel="noopener noreferrer" href="https://github.com/samyaktx">Github</a>
      | <a target="_blank" rel="noopener noreferrer" href="https://x.com/isamyakt">Twitter</a> | <a target="_blank"
        rel="noopener noreferrer" href="https://discordapp.com/users/isamyakt">Discord</a> | <a target="_blank"
        rel="noopener noreferrer" href="http://linkedin.com/in/isamyakt/">Linkedin</a> | <a target="_blank"
        rel="noopener noreferrer" href="http://t.me/krrishnax">Telegram</a> |
    </p>
  </div>
  <!--
    {% if config.generate_feed %}
    <div class="footRight">
      <a class="icons__background" target="_blank" rel="noopener noreferrer" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="Subscribe via RSS for updates."><svg class="icons icons__background"><use href="{{ get_url(path='icons.svg#rss', trailing_slash=false) | safe }}"></use></svg></a>
    </div>
    {% endif %}
    -->
  </div>
